
body{
  min-height: 100vh;
  padding: 0;
margin:0;
justify-content: center;
text-align: center;
top: 0;
left: 0;
width: auto;
-webkit-touch-callout: none; /* iOS Safari */
-webkit-user-select: none; /* Safari */
-khtml-user-select: none; /* Konqueror HTML */
-moz-user-select: none; /* Old versions of Firefox */
-ms-user-select: none; /* Internet Explorer/Edge */
user-select: none; 
font-family: jap;
letter-spacing: 0.1em;
padding: 1vh 2vw;
overflow: hidden;
scroll-behavior: none;
}

  .aboutbutton, .listbutton, .gallerybutton{
    font-size: 0.8em;
}



  .description{
    display: flex;
    flex-direction: row;
    gap: 5vw;
    width: 100vw;
    height: 100vh;
    text-align: left;
  }

  .description div{
    flex: 20%;
  }





:root * {
  /* Pause the animation */
  animation-play-state: paused;
  /* Bind the animation to scroll */
  animation-delay: calc(var(--scroll) * -1s);
  /* These last 2 properites clean up overshoot weirdness */
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
  
  #contents{
    position: absolute;
  }
  
  
  @font-face {
    font-family: 'cursive3';
    src: url('cursive/Cursive.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'cloud';
    src: url('cloude/Cloude_Regular_1.02.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
      font-family: 'jap';
      src: url('japanese/ZenKakuGothicNew-Regular.ttf');
      font-weight: normal;
      font-style: normal;
      font-display: swap;
  }
  
  @font-face {
      font-family: 'jap';
      src: url('japanese/ZenKakuGothicNew-Bold.ttf');
      font-weight: bold;
      font-style: normal;
      font-display: swap;
  }
  
  time {
    display: block;
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 0.5em;
  }


  .text-box time{
    font-size: 0.8em;
  }
  
  p{
    font-size: 0.8em;
  }

  main{
    max-width: 90vw;
  }

  nav{
    align-items: right;

}

ul{
    text-align: right;
    padding-left: 0;
}

nav ul p{
    list-style-type: none;
    display: inline-block;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
    float: left;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 0;
    right: 0;
    font-size: 0.9em;
}
nav ul .aboutbutton a{
    color: rgb(52, 194, 178);
    text-decoration: none;
    pointer-events: none;
}

nav ul .gallerybutton a:hover, nav ul .listbutton a:hover{
    color: rgb(236, 122, 122);
    transition: .3s;
}


nav ul .listbutton a, nav ul .gallerybutton a{
    color: black;
    text-decoration: none;

}





footer{
  position: absolute;
  font-size: 0.5em;
  letter-spacing: 0.1em;
  width: 100%;
  text-align: right;
  width: 100%;
  bottom: 0; /* stick to bottom */
  right: 0;
  margin: 0px;
  flex-shrink: 0;
  font-family: jap;
  padding-bottom: 1vh;
  padding-right: 1vw;
}
