body{
    margin:0;
    width: 100vw;
    height: 100vh;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; 
    font-family: jap;
    padding: 1vh 2vw;
    overflow: none;
    letter-spacing: 0.1em;
    scroll-behavior: none;
    position: fixed;

  }

  .aboutbutton, .workbutton{
    font-size: 0.8em;
}



  .description{
    display: flex;
    flex-direction: row;
    gap: 5vw;
    width: 100vw;
  }

  .description div{
    flex: 20%;
  }





:root * {
  /* Pause the animation */
  animation-play-state: paused;
  /* Bind the animation to scroll */
  animation-delay: calc(var(--scroll) * -1s);
  /* These last 2 properites clean up overshoot weirdness */
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
  
  #contents{
    position: absolute;
  }
  
  
  @font-face {
    font-family: 'cursive3';
    src: url('cursive/Cursive.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'cloud';
    src: url('cloude/Cloude_Regular_1.02.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
      font-family: 'jap';
      src: url('japanese/ZenKakuGothicNew-Regular.ttf');
      font-weight: normal;
      font-style: normal;
      font-display: swap;
  }
  
  @font-face {
      font-family: 'jap';
      src: url('japanese/ZenKakuGothicNew-Bold.ttf');
      font-weight: bold;
      font-style: normal;
      font-display: swap;
  }
  
  time {
    display: block;
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 0.5em;
  }


  .text-box time{
    font-size: 0.8em;
  }
  
  p{
    font-size: 0.8em;
  }

  main{
    max-width: 90vw;
  }

  nav{
      display: flex;
      align-items: center;
  }
  
  ul{
      padding-inline-start: 0;
  }
  nav ul li{
      list-style-type: none;
      display: inline-block;
      padding: 0;
      margin-right: 10px;
      margin-left: 0;
      font-size: 0.9em;
  }
  
  nav ul .workbutton a{
      color: black;
      text-decoration: none;
      font-weight: bold;
  }
  
  nav ul li a:hover{
      color: rgb(236, 122, 122);
      transition: .3s;
  }


  nav ul .aboutbutton a{
    color: rgb(52, 194, 178);
    text-decoration: none;
    font-weight: bold;
    pointer-events: none;
    
  }

  
/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */


.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 1vw;
  margin: 0 auto;

}




.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 40vw;
  padding: 1vw;
  border: solid black 1px;
  border-radius: 20px;
  margin-bottom: 2vh;
  box-shadow: 5px 10px;
  

}

.timeline ul li div:hover{
  border: solid black 1px;
  border-radius: 20px;
  margin-bottom: 1vh;
  box-shadow: rgb(238, 213, 255) 5px 10px;
  background-color: rgb(0, 0, 0);
  color: white;
  margin-bottom: 2vh;
  border: dotted rgb(236, 122, 122) 5px;
  
  

}

.lala p{
  margin-bottom: 10vh;
}

.yeet{
  position: relative;
  text-decoration: none;
  font-weight: bold;
  color: rgb(255, 252, 91);
  background-color: black;
  border: dotted rgb(52, 194, 178) 5px;
  border-radius: 20px;
  padding: 1em;
  
}

.yeet:hover{
  position: relative;
  text-decoration: none;
  font-weight: bold;
  color: rgb(52, 194, 178);
  background-color: black;
  border: dotted rgb(255, 252, 91) 5px;
  border-radius: 20px;
  padding: 1em;
  
}


.timeline ul li:nth-child(odd) div {
  left: -25vw;
}

img{
  width: 200px;
}

.timeline ul li:nth-child(even) div {
  left: -25vw;
}





/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background 0.5s ease-in-out;
}



.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #f45b69 transparent transparent;
  }
}



footer{
  position: absolute;
  font-size: 0.5em;
  letter-spacing: 0.1em;
  width: 100%;
  text-align: right;
  width: 100%;
  bottom: 0; /* stick to bottom */
  right: 0;
  margin: 0px;
  flex-shrink: 0;
  font-family: jap;
  padding-bottom: 3vh;
  padding-right: 5vw;
}
