
body{
    min-height: 100vh;
    padding: 0;
  margin:0;
  justify-content: center;
  text-align: center;
  top: 0;
  left: 0;
  width: auto;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; 
  font-family: jap;
  letter-spacing: 0.1em;
  padding: 1vh 2vw;
  overflow: hidden;
  scroll-behavior: none;
}

#contents{
  position: absolute;
}


@font-face {
  font-family: 'cursive3';
  src: url('cursive/Cursive.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'cloud';
  src: url('cloude/Cloude_Regular_1.02.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'jap';
    src: url('japanese/ZenKakuGothicNew-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'jap';
    src: url('japanese/ZenKakuGothicNew-Bold.ttf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



nav{
    align-items: right;

}

ul{
    text-align: right;
    padding-left: 0;
}

nav ul p{
    list-style-type: none;
    display: inline-block;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
    float: left;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 0;
    right: 0;
    font-size: 0.9em;
}
nav ul .listbutton a{
    color: rgb(52, 194, 178);
    text-decoration: none;
    pointer-events: none;
}

nav ul li a, :hover{
    color: rgb(236, 122, 122);
    transition: .3s;
}


nav ul .aboutbutton a, nav ul .gallerybutton a{
    color: black;
    text-decoration: none;

}


.table{
    margin: 2vh 5vw;
    width: 90vw;
    font-size: 0.8em;
    justify-content: center;


}

.table tr{
    border: 0;
    display: block;
    margin: 5px;
}

.table tr:hover{
    animation: hover 3s ease-in-out infinite;
    border-radius: 20px;
}


@keyframes hover {
    0% {border: dotted rgb(238, 213, 255) 3px; border-radius: 20px; font-weight: bold; background-color: black; color: white;
    }

    50%   {border: dotted rgb(236, 122, 122) 6px; border-radius: 20px; font-weight: bold;  background-color: black; color: white;
    }

    100% {border: dotted rgb(255, 252, 91) 3px; border-radius: 20px; font-weight: bold; background-color: black; color: white;
    }
  }




.table thead tr{
    text-align: left;
    font-weight: bold;

}

.table thead{
    pointer-events: none;

}

.table th,
.table td{
    padding: 1vw;
    width: 33vw;
    
}

.aboutbutton, .listbutton, .gallerybutton{
    font-size: 0.8em;
}


  footer{
    position: absolute;
    font-size: 0.5em;
    letter-spacing: 0.1em;
    width: 100%;
    text-align: right;
    width: 100%;
    bottom: 0; /* stick to bottom */
    right: 0;
    margin: 0px;
    flex-shrink: 0;
    font-family: jap;
    padding-bottom: 1vh;
    padding-right: 1vw;
  }
  
